@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.button {
    background-image: linear-gradient(to left, transparent, transparent 50%, #06b6d4 50%, #06b6d4);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 0.45s ease-in;
}

.button:hover {
    background-position: 0 0;
    background-color: #06b6d4;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.button2 {
    background-image: linear-gradient(to left, transparent, transparent 50%, #eab308 50%, #eab308);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 0.45s ease-in;
}

.button2:hover {
    background-position: 0 0;
    background-color: #eab308;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#contributions {
    background-image: url("../../public/background.png");
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background-color: lightblue;
    border-radius: 10px;
    border: 2px solid black;
}

* {
    scrollbar-width: thin;
    scrollbar-color: lightblue black;
}

.outer {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 185px;
    height: 65px;
    border-radius: 20px;
    opacity: 0;
    transform: translateX(50px);
    color: #203354;
    display: flex; /* Makes .outer a flex container */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    background-image: linear-gradient(to left, transparent, transparent 50%, #06b6d4 50%, #06b6d4);
    background-position: 100% 0;
    background-size: 200% 100%;
    animation: appearPopup 10s linear;
}

.inner {
    width: 180px;
    height: 60px;
    border-radius: 19px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes fillBorder {
    90% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 0;
    }
}

.backgroundImage {
    display: flex;
    height: 100vh;
    position: relative;
    width: 100vw;
    justify-content: center;
    align-items: center;
    box-shadow: #26c6da 1px 0 30px;
}

.backgroundImage .logoContainer {
    position: relative;
    z-index: 11;
    color: white;
    text-align: center;
}

.backgroundImage img {
    position: absolute;
    z-index: 10;
}

.backgroundImage .logoContainer .logo {
    font-size: 65px;
    text-shadow: #fc0 1px 0 10px;
}

.backgroundImage .logoContainer .text {
    margin-top: 2px;
    font-size: 25px;
    text-shadow: #fc0 1px 0 10px;
    width: 300px;
    margin: 0 auto;
    opacity: 0;
    animation: showLogoText 4s forwards ease-in 1s;
}

.logo1 {
    opacity: 0;
    animation: showLogo1 4s forwards ease-in 1s;
}

.logo2 {
    opacity: 0;
    animation: showLogo2 4s forwards ease-in 1s;
}

@keyframes showLogo1 {
    33% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes showLogo2 {
    34% {
        opacity: 0;
    }

    66% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes showLogoText {
    67% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.contentBox {
    box-shadow: #f1b641 1px 0 10px;
    background: #f1b641;
}

.textShadow {
    text-shadow: #26c6da 1px 0 4px;
    /* color: #fc0; */
}

#Services button:hover {
    background: #f1b641;
    box-shadow: #f1b641 1px 0 8px;
    border: #f1b641 1px solid;
}

footer {
    box-shadow: #26c6da 1px 0 20px;
}

#Pool:hover .poolAttributes {
    color: #26c6da;
}

.poolAttributes {
    transition: all 500ms;
}

.userContributions {
    box-shadow: #26c6da 1px 0 20px;
    background: #26c6da95;
    border: 4px solid #26c6da;
}

.modal {
    border: 4px solid #26c6da;
}

.networkText {
    font-size: 10px;
}
